body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: var(--bg-light);
}

.register-container {
    display: flex;
    min-height: 100vh;
    padding: 40px;
    background-color: var(--bg-light);
    box-sizing: border-box;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog-image {
    max-width: 600px;
    height: auto;
}

.right {
    flex: 1;
    background: var(--white);
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

h2 {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input {
    padding: 12px;
    border-radius: 16px;
    border: 1px solid var(--gray-medium);
    background-color: var(--gray-light);
    font-size: 14px;
    color: var(--gray-text);
}

input:focus {
    border-color: var(--primary-color);
    outline: none;
    background-color: var(--white);
}

button {
    margin-top: 12px;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 14px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: var(--transition-medium);
}

button:hover {
    background-color: var(--primary-dark);
}

.forgot-password {
    text-align: right;
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.forgot-password a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
    transition: color var(--transition-medium);
}

.forgot-password a:hover {
    color: var(--primary-dark);
}

.success-msg {
    color: green;
    text-align: center;
}

.error-msg {
    color: var(--error-color);
    text-align: center;
}
