.pata {
    position: fixed;
    width: 80px;
    height: 80px;
    opacity: 0.5;
    pointer-events: none;
    z-index: 0;
    animation: flutuar 7s infinite ease-in-out;
}

@keyframes flutuar {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(12px, -20px) rotate(10deg);
    }
    50% {
        transform: translate(0, -35px) rotate(-10deg);
    }
    75% {
        transform: translate(-12px, -20px) rotate(10deg);
    }
}

.patinhas-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}