.stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: nowrap;
}

.step {
    display: flex;
    align-items: center;
    position: relative;
}

.circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid var(--gray-medium);
    background: var(--white);
    color: #b9b9b9;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background var(--transition-medium), 
                border-color var(--transition-medium), 
                color var(--transition-medium);
}

.circle.active {
    border-color: var(--primary-color);
    background-color: var(--bg-card);
    color: var(--primary-color);
}

.line {
    width: 60px;
    height: 4px;
    background-color: var(--gray-medium);
    border-radius: 2px;
    margin: 0 8px;
    transition: background-color var(--transition-medium);
}

.line.active {
    background-color: var(--primary-dark);
}

.checkmark {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1;
}